
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,300&display=swap');


body {
    overflow-x: hidden;
  
}


.header {
    height: 130px;
    color: white;
    display: flex;    
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #3204fdba, #5007facc), url(/img/DSC_0043.jpg) no-repeat top center;
    background-position: 3px;
    background-size: 250vh;
    background-position-y: 10;
    background-position-x: -400px;

}


.bloque-servicio {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 20px 20px 20px;
    color: white;
    border-radius: 15px;
    background: transparent linear-gradient(79deg, #8980CA 0%, #4C437D 100%) 0% 0% no-repeat padding-box;
    width: 480px;
    height: 85px;
    margin: 0px -150px 0px;
    margin-right: 10px;
    margin-left: 10px;
    
}

.bloque-servicio h3 {
    font-weight: 700;
    font-size: 1.5em;
    margin-right: 120px;
}

.servicios .contenedor {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-right: 80px;
    margin-left: 80px;
}

.bloque-servicio img {
   width: 100px;
}



.catalogo .contenedor {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.catalogo .titulo {
   font-size: 1em;
   color: #919191;
}

.galeria {
    display: flex;
    justify-content: center;
}

.galeria-catalogo {
    border-collapse: separate;
    border-spacing: 30px 30px;
}

.tarjeta-producto {
    height: 392px;
    width: 312px;
    background: white;
    box-shadow: 0px 0px 12px #0000000D;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;    
}

.img-container {
    display: flex;
    margin-top: -15px;
    justify-content: center;
    align-items: center;
    height: 65%;
    margin-bottom: 15px;
    background: #F8F8F8;
    width: 100%;
    border-radius: 25px;
}

.btn-anadir a{

    text-decoration: none;
    color: #c91821;
    transition: 0.2s;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.btn-anadir a:hover {
    color: #d34d53;
    transition: 0.2s;
}


.img-container img{
    width: 143px;
    height: 199px;    
}


.nombre-producto h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;

}

.descripcion-producto {

    color: #919191;
    font-family:'Roboto', sans-serif;
    font-size: 16px;


}

.header h3 {
    margin-top: 40px;
    color: rgb(248, 248, 248);
    font-family:'Roboto', sans-serif;
    font-size: 2.3em;
    
}

.collage img {
    width: 700px;
    margin-top: 20px;
}

.historia .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.nuestra-historia {
width: 700px;
margin-top: -80px;
}


.historia-parrafo {
    font-weight: 300;
    color: #919191;
}

.mapa-historia .contenedor {
    display: flex;
    justify-content: center;
}

.mapa {
    display: flex;
    justify-content: center;
}

.tarjeta {
    width: 500px;
    height: 171px;
    border-radius: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #0000000D;
    padding: 30px;
}

.tarjeta .titulo {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    
}

.tarjeta .parrafo {
    color: #919191;
    font-family: 'Roboto', sans-serif;
    
}

.tarjeta .info {
    border-left:#D31821 solid 3px;
    padding: 0px 20px 8px;
    margin-left: -10px;
}

.inicio-map {
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #22307B;
    border-radius: 100px;
    padding: 40px;

}

@media (max-width: 800px){
   .servicios .contenedor {
       flex-direction: column;
       justify-content: center;
       align-items: center;
       
   }

   .bloque-servicio {
       margin-bottom: 5px;
   }

}

